.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;
}

.box {
    height: fit-content;
    width: 200px;
    
    border-color: var(--background-100);
    border-style: solid;
    border-width: 0.2rem 0.2rem 0.2rem 0.2rem; 
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.text--box {
    display: flex;
    flex-direction: column;
    background-color: var(--background-200);

    border-radius: 1rem 1rem 0 0;
   
    height: fit-content;
    padding: 0.5rem;

    vertical-align: center;
    align-items: center;
}

.gear--box {
    display: block;
    padding: 2rem;
    height: 6rem;
    width: 6.5rem;
    position: relative;
}

.gear--box .gear--big{
    color: var(--primary-500);
    font-size: 5rem;
    position: absolute;
    top: 0;
    left: 0;

    animation-duration: 5s;
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    
}

.gear--box .gear--small{
    color: var(--accent-500);
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    right: 0;

    animation-duration: 3.5s;
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.text {
    height: fit-content;
}

.text p {
    font-style: italic;
}


.socials--box {
    display: flex;
    background-color: var(--accent-500);
    padding: 0.5rem;
    height: fit-content;
    width: 100%;

  
    border-radius: 0 0 1rem 1rem;

    border-color: var(--accent-400);
    border-style: solid;
    border-width: 0.2rem 0 0 0; 
    
}