.navItem--title {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-800);
}

.navItem--page {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: var(--text-800);
    padding: 20px 20px;
    border-radius: 0.25rem;
}

.active:not(.navItem--title) {
    font-weight: bold;
    /* background-color: var(--primary-600); */
}

a:hover:not(.navItem--title) {
    background-color: var(--primary-400);
}